.aboutPage {
    align-items: center;
    padding:85px;
    text-align: center;
}

#description {
    margin: 5%;
}

#contact {
    align-items: center;
    text-align:center;
    margin-top: -20px;
}