  
  .fuzzy-bubbles-regular {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fuzzy-bubbles-bold {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  html, body {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  @media only screen and (min-width: 768px) {
    html, body {
      font-size: 22px;
    }
  }

  .main {
    background-color: rgb(97, 140, 150);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
    font-family: "Fuzzy Bubbles", sans-serif;
  }
  
  .form a {
    text-align: left;
    flex-direction: column;
    text-decoration:none;
    color: rgb(97,140,150);
    transition:.5s ease;
  }
  .form a:hover {
      color:rgb(66, 96, 103);
  }
  .form {
    background: #6d8cc5;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 500px;
    position: relative;
    overflow: hidden;
    margin:100px 33.5%;
    border-radius: 50px;
    box-shadow:8px 8px 20px #0f355c;
  }
  .tab-group  {
    list-style:none;
    text-align: center;
    padding: 0;
    margin: 0px;
  }
  .tab-group:after {
      content: "";
      display: table;
      clear: both;
  }
  .form a {
    display: block;
    text-align: center;
    padding:0px;
    background:#6d8cc5;
    color:white;
    font-family: "Fuzzy Bubbles", sans-serif;
    font-size: 20px;
    float:left;
    width: 50%;
    cursor:pointer;
    transition:.5s ease;
  }
    .form a:hover {
        background:#6d8cc5;
        color:white;
    }
    .form .active a {
      background:#6d8cc5;
      text-align: left;
      text-align: center;
      color:white;
    }
  .tab-content > div:last-child {
    display:none;
  }
  
  .tab-content {
    overflow-y: auto; 
    scrollbar-color: #d891af #cf6d96;
  }
  
  .tab-content::-webkit-scrollbar {
    width: 8px;
  }
  
  .tab-content::-webkit-scrollbar-thumb {
    background-color: #b8336a;
    border-radius: 4px;
  }
  
  .tab-content::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  .form .login h1 {
    text-align:center;
    color:white;
    margin:0 0 40px;
    margin-top: 5px;
    font-size: 35px;
  }
  .form .signup h1 {
    text-align: center;
    color: white;
    margin: 0;
    margin-top: 5px;
    font-size: 35px;
  }
  
  .form .signup h1 {
    text-align:center;
    color:white;
    margin:0 0 40px;
    margin-top: 5px;
    font-size: 35px;
  }
  
  #signup-btn,
  #login-btn,
  #forgot-btn {
    width: 150px;
    height: 45px;
    font-family: "Fuzzy Bubbles", sans-serif;
    color: white;
    border: none;
    background-color: #B8336A;
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
    white-space: nowrap;
    border-radius: 50px;
  }
  .req {
    color: #b8336a;
  }
  .signup .field-wrap {
    width: 99%;
    padding: 0;
    margin: 0;
  }
  #login, #signup {
    display: none;
  }
  
  #login-btn:hover, #signup-btn:hover, #forgot-btn:hover {
    cursor: pointer;
  }
  
  #signup-btn {
    margin-top: 50px;
  }
  .show-signup #login-btn {
    display: none;
  }
  .show-login #signup-btn {
    display: none;
  }
  .form label {
    text-align:center;
    margin: 15px;
    color: white;
    transition:all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size:22px;
  }
  .form label.active {
    font-size:14px;
    text-align: center;
    .req {
      opacity:0;
    }
  }
  .form label.highlight {
    color:white;
  }
  .form input, .form textarea {
    font-size:22px;
    text-align: left;
    display:block;
    width:100%;
    height:50px;
    padding:5px 10px;
    background: rgba(250,250,250, 0.2);
    color:white;
    border-radius:50px;
    transition:border-color .25s ease, box-shadow .25s ease;
    border: none;
    margin-bottom: 10px;
  }
    .form input:focus, .form textarea:focus {
      outline:0;
      border-color:rgb(45, 125, 143);
      font-family: "Fuzzy Bubbles", sans-serif;
    }
  .active {
    display:center;
  }
  #enter {
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .form textarea {
    text-align: center;
    align-items: center;
    resize: vertical;
  }
  .field-wrap {
    position:relative;
    text-align: center;
    margin-bottom:40px;
    width: 100%
  }
  .top-row {
    text-align: center;
  }
  .top-row:after {
      content: "";
      display: table;
      clear: both;
  }
    .top-row > div {
      float:left;
      text-align: center;
      float:center;
      width:48%;
      margin-right:4%;
    }
      .top-row > div:last-child { 
        margin:0;
      }
    
  #login-page-btn {
    border:0;
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    outline:none;
    padding:15px 0;
    font-size: 20px;
    text-transform:uppercase;
    letter-spacing:.1em;
    background: rgb(26, 82, 94);
    color:white;
    transition:all .5s ease;
    -webkit-appearance: none;
  }
    #login-page-btn:hover, #login-page-btn:focus {
      background:rgb(26, 82, 94);
    }
  .signup .field-wrap {
    align-items: center;
    margin: 1px;
    padding:5px;
  }
  .signup #submit {
    border:0;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 5px;
    width: 180px;
    height: 80px;
    border-radius: 50px;
    outline:none;
    padding:15px 0;
    font-size: 30px;
    text-transform:uppercase;
    letter-spacing:.1em;
    background: rgb(26, 82, 94);
    color:white;
    transition:all .5s ease;
    -webkit-appearance: none;
  }
    #submit:hover, #submit:focus {
      background:rgb(26, 82, 94);
    }
  .button-block {
    display:block;
    text-align: center;
    width: 150px;
    height: 50px;
    margin-left: 33.3%;
    background-color: rgb(26, 82, 94);
    border: none;
    border-radius: 50px;
  }
  
  .forgot {
    margin-top:-20px;
    text-align: center;
  }
  /*# sourceMappingURL=style.css.map */