.shopHeader {
    margin-top: 65px;
}

.storeSearch {
    margin: 5px;
    padding: 3px;
    width: 30%;
    font-size: 18px;
    border: 2px solid var(--outline-color);
}

// ::-webkit-search-cancel-button {
//     -webkit-appearance: none;
// }

// ::-webkit-search-cancel-button:after {
//     content: 'X';
//     font-style: italic;
//     color: red;
// }

#storeFilter {
    background-color: var(--prompt-container-bgcolor);
    border-radius: 5px;
    border: 2px solid var(--outline-color);
    padding: 3px;
    margin: 5px;
    font-size: 18px;
    visibility: hidden;
}

#sortOptions {
    background-color: var(--prompt-container-bgcolor);
    border-radius: 5px;
    border: 2px solid var(--outline-color);
    padding: 3px;
    margin: 5px;
    font-size: 18px;
    visibility: hidden;
}

.storeBalance {
    margin-right: 82px;
    margin-top: -35px;
    padding: 5px;
    font-size: 18px;
}

span:hover { cursor:default; }

#crystal {
    height: 40px;
    margin-right: -150px;
    margin-top: -8px;    
}

.popup {
    align-items: center;
    display: flex;
    justify-content: left;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    //background: rgba(243, 243, 243, 0.358);
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
}

.content {
    position: absolute;
    background: var(--prompt-container-bgcolor);
    height:100%;
    width: 30%;
    padding: 1em 2em;
    border-radius: 4px;
}

.popup:target {
    visibility: visible;
    opacity: 1;
}

.box-close {
    position: absolute;
    top: 0;
    right: 15px;
    color: #000000;
    text-decoration: none;
    font-size: 30px;
}

#clearFilters-s {
    height: 20px;
    width: 50px;
    margin-right: 10px;
    text-align: center;
    padding: 0px;
    background-color: var(--prompt-container-bgcolor);
    border: 1px solid var(--filter-title-bgcolor);
    font-size: 15px;
}

.section {
    visibility: hidden;
}

#storeItems {
    visibility: visible;
}

.product {
    margin: 5px;
}

#title {
    background-color: transparent;
    border: none;
    margin-top: 30px;
    font-size: 20px;
}

.section-title {
    vertical-align: middle;
    border-radius: 10px;
    padding: 5px;
    font-family:"Fuzzy Bubbles", sans-serif;
}

.theme-container, .prompt-container, .pet-container {
    width: 100%;
    padding: 0 50px;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.theme-container::-webkit-scrollbar {
    display: none;
}

.prompt-container::-webkit-scrollbar {
    display: none;
}

.pet-container::-webkit-scrollbar {
    display: none;
}

.product-image{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.product-card {
    margin: 5px;
    margin-right: 50px;
}

.pre-btn, .nxt-btn{
    // border: none;
    position: absolute;
    margin-top: 70px;;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 8;
}

.arrow {
    width: 30px;
    height: 30px;
    opacity: 0.2;
    margin: 5px;
}

.arrow:hover {
    opacity: 1;
}

.pre-btn{
    left: 0;
    transform: rotate(180deg);
    background-color:transparent;
    border: none;
}

.nxt-btn{
    right: 0;
    background-color:transparent;
    border: none;
}

.product-group-page {
    display: flex;
    flex-wrap:wrap
}

#back-btn {
    background-color: transparent;
    border: none;
    margin-top: 30px;
}

.back-arrow {
    width: 25px;
    height: 25px;
    margin-right: -5px;
    padding:0;
}